doctype html
html
  head
    title
      | TechFood
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    .container.mt-5
      = yield
      p
        button#record
        button#stopRecord

  footer.mb-5

scss:
  #record {
    background-color: red; /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
  }
  #stopRecord {
    background-color: green; /* Green */
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
  }